{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/tests",
    "**/coverage",
    "*.conf*.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "branches": 95,
  "lines": 95,
  "functions": 95,
  "statements": 95
}